.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background: #fff;
  color: #000;
  font-size: 18px;
}

.header {
  margin: 92px 50px 95px 50px;
  display: grid;
  grid-template: auto / 2fr auto 2fr;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 32px;
  align-items: center;
}

.header__links-list-item {
  list-style: circle;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  line-height: 24.3px;
  font-style: normal;
  font-weight: 400;
}

.header_address {
  padding-right: 3px;
  justify-self: end;
  align-self: center;
}

.address a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.cover__title {
  position: relative;
  padding: 165px 50px 0 50px;
  margin-bottom: 135px;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  /* font-size(100px) * 0.30(em) = 30px */
  letter-spacing: 0.3em;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 115%;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right,
.aligned-text_center {
  line-height: 100%;
}

.letter-spacing-extended {
  /* font-size(100px) * 0.60(em) = 60px */
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0 50px 50px 0;
  align-items: center;
  gap: 62px;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  width: 665px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 17.7px;
  text-align: center;
}

.bet-button {
  background: transparent;
  border: 1px solid currentColor;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

.bet-button:hover {
  background-color: #fff;
  color: #000;
}

.lots {
  margin: 180px 50px 0 50px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__heading,
.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.lots__card-list,
.about {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  gap: 25px;
}

.lots__card-list-item,
.about__column {
  flex-basis: 430px;
  list-style: none;
  flex-grow: 1;
}

.card-link,
.footer__social-link {
  display: block;
  height: 100%;
}

.card-link:hover .card {
  transform: scale(1.05);
  transition: transform 0.4s;
}

.card {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  margin: 50px 40px 30px 40px;
  color: #fff;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 1;
}

.card__text {
  margin: 0 40px 50px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.about {
  margin: 181px 50px 180px 50px;
}

.about__column {
  display: grid;
  flex-flow: row nowrap;
  gap: 25px;
}

.about__logo {
  flex-grow: 0;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  background: url(../images/logo-white.svg);
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 148px 114px;
  border-radius: 50%;
  justify-self: center;
}

.about__title {
  justify-self: self-start;
  margin: 100px 0 75px;
}

.about__text {
  font-size: 20px;
}

.footer {
  margin: 0 50px 90px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.footer__menu {
  display: grid;
  justify-items: center;
}

.footer__menu-list {
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-list-item,
.footer__social-list-item {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 48px;
}

.footer__social-list-item,
.footer__social-icon {
  width: 48px;
  height: 48px;
}

.header__link:hover,
.footer__menu-link:hover,
.address a:hover,
.lots__look-more-link:hover {
  color: #908f8f;
}

.header__link_active:hover,
.footer__menu-link_active:hover {
  color: currentColor;
}

.footer__social-list-item:hover {
  transform: scale(1.2);
}