.wrapper {
  margin: 0 auto;
}

/* header start */
.header {
  margin: 92px 50px 95px 50px;
  display: grid;
  grid-template: auto / 2fr auto 2fr;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 32px;
  align-items: center;
  text-transform: lowercase;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  line-height: 24.3px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.header_address {
  padding-right: 3px;
  justify-content: flex-end;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 757px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  width: 100%;
  padding: 165px 50px 0 50px;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 30px;
}

/* .cover-header__text {
  letter-spacing: 30px;
  margin-right: -30px;
} */

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  margin-top: 38px;
  margin-left: 370px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 45px;
  height: 231px;
}

.cover__description-text {
  color: #fff;
  width: 665px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 17.7px;
  text-align: justify;
}

.bet-button {
  background: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
}

.lots {
  margin: 180px 50px 50px 0;
}

.about {
  margin: 176px 39px 61px 185px;
}
